<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Items:</strong>
  <%= @user.items %>
</p>

<p>
  <strong>Similarity:</strong>
  <%= @user.similarity %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
